nav{
	background-color: cyan;
	height: 40px;
	text-indent: 2em;
}
.xhy{
	font-size: 30px;
	background-color: burlywood;
	font-family: 仿宋;
	color: brown;
	font-weight: bold;
	
}
a{
	text-decoration: none;
	font-size: 25px;
}
a:link{
	color: white;
}
a:active{
	color: white;
}
a:visited{
	color: white;
}
a:hover{
	color: brown;
	font-family: 华文彩云;
}
nav{
	background-color: cornflowerblue;
	
}
a{
	margin: 4;
}
li{
	list-style: none;
}
#xhy{
	text-indent: 2em;
	font-size: 30px;
	font-family: 仿宋;
}
body{
	background: url(003.jpg);
}
#xxy{
	text-align: center;
	background-color: burlywood;
	font-size: 25px;
	text-indent: 18em;
	color: white;
}
.xxy{
	font-size: 25px;
	color: white;
}



